
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,json,jsx,master,razor,resjson,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_single_line_comment=1
resharper_braces_for_for=required
resharper_braces_for_foreach=required
resharper_braces_for_ifelse=required
resharper_braces_for_while=required
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_insert_final_newline=true
resharper_csharp_max_line_length=200
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_binary_expressions=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_for_built_in_types=use_var_when_evident
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_switch_labels=true
resharper_instance_members_qualify_declared_in=base_class
resharper_js_brace_style=next_line
resharper_js_wrap_before_binary_opsign=true
resharper_keep_blank_lines_between_declarations=1
resharper_keep_blank_lines_in_code=1
resharper_keep_blank_lines_in_declarations=1
resharper_keep_existing_embedded_arrangement=false
resharper_local_function_body=expression_body
resharper_method_or_operator_body=expression_body
resharper_new_line_before_catch=true
resharper_new_line_before_else=true
resharper_new_line_before_finally=true
resharper_new_line_before_while=true
resharper_place_accessorholder_attribute_on_same_line=False
resharper_place_field_attribute_on_same_line=if_owner_is_single_line
resharper_place_simple_case_statement_on_same_line=if_owner_is_single_line
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_after_declaration_lpar=true
resharper_wrap_after_invocation_lpar=true
resharper_wrap_before_arrow_with_expressions=true
resharper_wrap_before_extends_colon=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_chained_method_calls=chop_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_multiple_type_parameter_constraints_style=chop_always

# ReSharper inspection severities
resharper_convert_to_static_class_highlighting=none
resharper_function_complexity_overflow_highlighting=warning
resharper_member_can_be_made_static_global_highlighting=none
resharper_member_can_be_made_static_local_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
