[submodule "ExternalRepositories/SpecFlow.TestProjectGenerator"]
	path = ExternalRepositories/SpecFlow.TestProjectGenerator
	url = https://github.com/SpecFlowOSS/SpecFlow.TestProjectGenerator.git
[submodule "ExternalRepositories/cucumber"]
	path = ExternalRepositories/cucumber
	url = https://github.com/SpecFlowOSS/cucumber.git
