
*.vspscc
*.vssscc
*.user
*.suo
Thumbs.db
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
_NCrunch*/
[Tt]est[Rr]esult*
*.pidb
*.userprefs
*.resharper
*.ncrunchproject
*.ncrunchsolution
*.cache
*.gpState
*.dotCover
test-results

*.docstates
Tests/TechTalk.SpecFlow.Specs.Silverlight4.Web/ClientBin/*
*.stackdump

packages/*
