
*.vspscc
*.vssscc
*.user
*.suo
Thumbs.db
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
_NCrunch*/
[Tt]est[Rr]esult*
*.pidb
*.userprefs
*.resharper
*.ncrunchproject
*.ncrunchsolution
*.cache
*.gpState
*.dotCover
test-results

*.docstates
Tests/TechTalk.SpecFlow.Specs.Silverlight4.Web/ClientBin/*
*.stackdump
_UpgradeReport_Files/*
Backup*/*

UpgradeLog*
.vs/*

packages/*
/_NCrunch_TechTalk.SpecFlow_VS2013/StoredText
!lib/**
TechTalk.SpecFlow.Tools/app.config
TechTalk.SpecFlow.Tools/plugincompability.config
TechTalk.SpecFlow.sln.GhostDoc.xml
Features.Generated/
GitExtensions.settings.backup

!lib/**
TechTalk.SpecFlow.Tools/app.config
TechTalk.SpecFlow.Tools/plugincompability.config
TechTalk.SpecFlow.sln.GhostDoc.xml
Features.Generated/
GitExtensions.settings.backup
/Installer/NuGetPackages/SpecFlow.Tools.MsBuild.Generation/build/SpecFlow.Tools.MsBuild.Generation.targets
/Installer/NuGetPackages/SpecFlow.Tools.MsBuild.Generation/build/SpecFlow.Tools.MsBuild.Generation.props
