<configuration>
	<packageSources>
		<clear/>
		<add key="SpecFlow_CI_LocalPackages" value="./NuGet/feed" />
		<add key="MSBuild.MSBNuGet" value="https://ci.appveyor.com/nuget/msbuild-msbnuget" />
		<add key="Gherkin CI" value="https://ci.appveyor.com/nuget/gherkin-pgwyovw4bucb/" />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>