<configuration>
  <packageSources>
    <add key="localPackages" value="%BUILD_SOURCESDIRECTORY%\LocalPackages" />
    <add key="Gherkin CI" value="https://ci.appveyor.com/nuget/gherkin-pgwyovw4bucb/" />
    <add key="MSBuild.MSBNuGet" value="https://ci.appveyor.com/nuget/msbuild-msbnuget" />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>