<?xml version="1.0" encoding="UTF-8"?>

<?include Common.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CompGroup_CoreFiles">
      <ComponentRef Id="Comp_CoreFiles" />
      <ComponentRef Id="Comp_CoreGherkinFileAssociation" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Comp_CoreFiles" Guid="7022E635-FB3E-412e-9DA0-DBB84C96505F">
        <File Name="LICENSE.txt" Source="$(var.SolutionDir)\LICENSE.txt" />
        <File Name="changelog.txt" Source="$(var.SolutionDir)\changelog.txt" />
        <File Name="TechTalk.SpecFlow.targets" Source="$(var.TechTalk.SpecFlow.Tools.ProjectDir)\MsBuild\TechTalk.SpecFlow.targets" />
        <File Name="TechTalk.SpecFlow.tasks" Source="$(var.TechTalk.SpecFlow.Tools.ProjectDir)\MsBuild\TechTalk.SpecFlow.tasks" />
        <!-- files for the gherkin parser -->
        <File Name="Gherkin.dll" Source="$(var.SolutionDir)\lib\gherkin\Gherkin.dll" />
        <File Name="IKVM.Runtime.dll" Source="$(var.SolutionDir)\lib\gherkin\IKVM.Runtime.dll" />
        <File Name="IKVM.OpenJDK.Core.dll" Source="$(var.SolutionDir)\lib\gherkin\IKVM.OpenJDK.Core.dll" />
        <File Name="IKVM.OpenJDK.Text.dll" Source="$(var.SolutionDir)\lib\gherkin\IKVM.OpenJDK.Text.dll" />
        <File Id="TechTalk.SpecFlow.IdeIntegration.dll" Name="TechTalk.SpecFlow.IdeIntegration.dll" Source="$(var.TechTalk.SpecFlow.IdeIntegration.TargetDir)\TechTalk.SpecFlow.IdeIntegration.dll" />
      </Component>

      <!-- Gherkin file associations -->
      <Component Id="Comp_CoreGherkinFileAssociation" Guid="8BDE968A-8638-47F9-823E-EC637153881B">
        <File Name="featurefile.ico" Source="$(var.SetupResourcesDir)\gherkin.ico" />
        <ProgId Id="GherkinFile" Description="Gherkin Specification File" Icon="featurefile.ico">
          <Extension Id="feature" ContentType='application/text' />
        </ProgId>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>