<?xml version="1.0" encoding="UTF-8"?>

<?include Common.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="CompGroup_SharpDevelop4">
			<ComponentRef Id="Comp_SharpDevelop4Integration_Core" />
			<ComponentRef Id="Comp_SharpDevelop4Templates" />
		</ComponentGroup>
		
		<!-- CompGroup_SHARPDEVELOP4 core integration components -->
		<DirectoryRef Id="INSTALLLOCATION">
			<Component Id="Comp_SharpDevelop4Integration_Core" Guid="B54570DC-97BD-4D1F-A023-6D97A6F2DAF0">
				<File Id="TechTalk.SpecFlow.SharpDevelop4Integration.dll" Name="TechTalk.SpecFlow.SharpDevelop4Integration.dll" Source="$(var.TechTalk.SpecFlow.SharpDevelop4Integration.TargetDir)\TechTalk.SpecFlow.SharpDevelop4Integration.dll" />
				<File Id="SharpDevelop4Integration.addin" Name="SharpDevelop4Integration.addin" Source="$(var.TechTalk.SpecFlow.SharpDevelop4Integration.TargetDir)\SharpDevelop4Integration.addin" />
			</Component>
			<Directory Id="Dir_SharpDevelop4_ItemTemplates" Name="SharpDevelop4_ItemTemplates" FileSource="$(var.TechTalk.SpecFlow.SharpDevelop4Integration.TargetDir)\Templates\">
				<Component Id="Comp_SharpDevelop4Templates" Guid="AA339BC2-FE70-4A0D-A022-BEDC8E4C741F">
					<File Id="SpecFlowFeature.xft_SHARPDEV4" Name="SpecFlowFeature.xft" />
					<File Id="SpecFlowEventDefinition.xft_SHARPDEV4" Name="SpecFlowEventDefinition.xft" />
					<File Id="SpecFlowStepDefinition.xft_SHARPDEV4" Name="SpecFlowStepDefinition.xft" />
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>