<?xml version="1.0" encoding="UTF-8"?>

<?include Common.wxi?>
<?define Vs2008RegPath = "Software\Microsoft\VisualStudio\9.0" ?>

<?define VBLangId = "{164B10B9-B200-11D0-8C61-00A0C91E29D5}" ?>
<?define CSharpLangId = "{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}" ?>
<?define SilverlightPackageId = "{CB22EE0E-4072-4ae7-96E2-90FCCF879544}" ?>

<?define CLSID_SpecFlowSingleFileGenerator = "{3c9cf10a-a9ab-4899-a0fb-4b3be4a36c15}" ?>
<?define CLSID_SpecFlowColorHighligher = "{0a485828-6d97-11e0-afac-304a4824019b}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CompGroup_VS2008">
      <ComponentRef Id="Comp_Vs2008Integration_Core" />

      <ComponentRef Id="Comp_VS2008ItemTemplates_CSharp" />
      <ComponentRef Id="Comp_VS2008ItemTemplates_VisualBasic" />
      <ComponentRef Id="Comp_VS2008Registry" />
    </ComponentGroup>

    <!-- Run devenv /InstallVSTemplates if VS2008 is installed. Unfortunately this will also run if you dont install SpecFlow to VS2008 -->
    <CustomActionRef Id="VS90InstallVSTemplates" />

    <!-- VS2008 core integration components -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Comp_Vs2008Integration_Core" Guid="D020892E-85DD-43AD-92B4-58B07E36D0E4">
        <File Id="TechTalk.SpecFlow.Vs2008Integration.dll_VS2008" Name="TechTalk.SpecFlow.Vs2008Integration.dll" Source="$(var.TechTalk.SpecFlow.Vs2008Integration.TargetDir)\TechTalk.SpecFlow.Vs2008Integration.dll" />
      </Component>
    </DirectoryRef>

    <!-- project/item templates -->

    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="DIR_VS2008_PROJECTTEMPLATES" Name="VS2008_ProjectTemplates">
        <!--project templates will come here-->
      </Directory>

      <Directory Id="Dir_VS2008_ItemTemplates" Name="VS2008_ItemTemplates">
        <Directory Id="Dir_VS2008_ItemTemplates_CSharp" Name="CSharp" FileSource="$(var.TechTalk.SpecFlow.Vs2008Integration.TargetDir)">
          <Component Id="Comp_VS2008ItemTemplates_CSharp" Guid="50EF978E-F646-48e8-96A3-01EC83374FF0">
            <File Id="File_SpecFlowFeature.zip_VS2008" Name="SpecFlowFeature_CSharp.zip" />
            <File Id="File_SpecFlowStepDefinition.zip_VS2008" Name="SpecFlowStepDefinition_CSharp.zip" />
            <File Id="File_SpecFlowEventDefinition.zip_VS2008" Name="SpecFlowHooks_CSharp.zip" />
          </Component>
        </Directory>
        <Directory Id="Dir_VS2008_ItemTemplates_VisualBasic" Name="VisualBasic" FileSource="$(var.TechTalk.SpecFlow.Vs2008Integration.TargetDir)">
          <Component Id="Comp_VS2008ItemTemplates_VisualBasic" Guid="64327D18-847B-479e-AAAD-FFB966BC2805">
            <File Id="File_SpecFlowFeature_VB.zip_VS2008" Name="SpecFlowFeature_VB.zip" />
            <File Id="File_SpecFlowStepDefinition_VB.zip_VS2008" Name="SpecFlowStepDefinition_VB.zip" />
            <File Id="File_SpecFlowEventDefinition_VB.zip_VS2008" Name="SpecFlowHooks_VB.zip" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <PropertyRef Id='VS90_PROJECTTEMPLATES_DIR'/>
    <SetDirectory Id="DIR_VS2008_PROJECTTEMPLATES" Value="[VS90_PROJECTTEMPLATES_DIR]" Sequence="both" />

    <PropertyRef Id='VS90_ITEMTEMPLATES_DIR'/>
    <SetDirectory Id="Dir_VS2008_ItemTemplates" Value="[VS90_ITEMTEMPLATES_DIR]" Sequence="both" />

    <!-- registry -->

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="Comp_VS2008Registry" Guid="93BC230A-5294-4b31-8DDB-884D58034148">
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\CLSID\$(var.CLSID_SpecFlowSingleFileGenerator)" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="TechTalk.SpecFlow.Vs2008Integration.SpecFlowSingleFileGenerator" Type="string" />
          <RegistryValue Name="Class" Value="TechTalk.SpecFlow.Vs2008Integration.SpecFlowSingleFileGenerator" Type="string" />
          <RegistryValue Name="CodeBase" Value="[INSTALLLOCATION]TechTalk.SpecFlow.Vs2008Integration.dll" Type="string" />
          <RegistryValue Name="InprocServer32" Value="C:\\Windows\\SYSTEM32\\MSCOREE.DLL" Type="string" />
          <RegistryValue Name="ThreadingModel" Value="Both" Type="string" />
        </RegistryKey>

        <!-- VB.NET registration -->
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.VBLangId)\.feature" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="SpecFlowSingleFileGenerator" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.VBLangId)\SpecFlowSingleFileGenerator" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="VB.NET SpecFlow Generator" Type="string" />
          <RegistryValue Name="CLSID" Value="$(var.CLSID_SpecFlowSingleFileGenerator)" Type="string" />
          <RegistryValue Name="GeneratesDesignTimeSource" Value="1" Type="integer" />
        </RegistryKey>

        <!-- C# registration -->
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.CSharpLangId)\.feature" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="SpecFlowSingleFileGenerator" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.CSharpLangId)\SpecFlowSingleFileGenerator" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="C# SpecFlow Generator" Type="string" />
          <RegistryValue Name="CLSID" Value="$(var.CLSID_SpecFlowSingleFileGenerator)" Type="string" />
          <RegistryValue Name="GeneratesDesignTimeSource" Value="1" Type="integer" />
        </RegistryKey>

        <!-- Silverlight registration -->
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.SilverlightPackageId)\.feature" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="SpecFlowSingleFileGenerator" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Generators\$(var.SilverlightPackageId)\SpecFlowSingleFileGenerator" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="Silverlight SpecFlow Generator" Type="string" />
          <RegistryValue Name="CLSID" Value="$(var.CLSID_SpecFlowSingleFileGenerator)" Type="string" />
          <RegistryValue Name="GeneratesDesignTimeSource" Value="1" Type="integer" />
        </RegistryKey>
      </Component>

      <Component Id="Comp_VS2008SyntaxColoring" Guid="31525C4B-0582-4126-9207-B3972C7EDACD">
        <!-- color highligher 2008 -->
        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\InstalledProducts\RegularExpressionLanguageServicePackage2"  Action="createAndRemoveOnUninstall">
          <RegistryValue Value="#100" Type="string"/>
          <RegistryValue Name="Package" Value="{c0328222-6d96-11e0-9525-e7494824019b}" Type="string" />
          <RegistryValue Name="ProductDetails" Value="#102" Type="string" />
          <RegistryValue Name="PID" Value="1.0" Type="string" />
          <RegistryValue Name="LogoID" Value="#400" Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Packages\{c0328222-6d96-11e0-9525-e7494824019b}" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="TechTalk.SpecFlow.Vs2008Integration.RegularExpressionLanguageServicePackage2, TechTalk.SpecFlow.Vs2008Integration, Version=1.9.0.0, Culture=neutral, PublicKeyToken=0778194805d6db41" Type="string"/>
          <RegistryValue Name="InprocServer32" Value="[SystemFolder]mscoree.dll" Type="string" />
          <RegistryValue Name="Class" Value="TechTalk.SpecFlow.Vs2008Integration.RegularExpressionLanguageServicePackage2" Type="string" />
          <RegistryValue Name="CodeBase" Value="[INSTALLLOCATION]TechTalk.SpecFlow.Vs2008Integration.dll" Type="string" />
          <RegistryValue Name="ID" Value="113" Type="integer" />
          <RegistryValue Name="MinEdition" Value="Standard" Type="string" />
          <RegistryValue Name="ProductVersion" Value="1.0" Type="string" />
          <RegistryValue Name="ProductName" Value="SpecFlow VS2008 Package" Type="string" />
          <RegistryValue Name="CompanyName" Value="TechTalk" Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Languages\File Extensions\.feature" Action="createAndRemoveOnUninstall">
          <RegistryValue  Value="$(var.CLSID_SpecFlowColorHighligher)" Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="$(var.Vs2008RegPath)\Services\$(var.CLSID_SpecFlowColorHighligher)" Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{c0328222-6d96-11e0-9525-e7494824019b}" Type="string"/>
          <RegistryValue Name="Name" Value="RegularExpressionLanguageService2" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>