<?xml version="1.0" encoding="UTF-8"?>

<?include Common.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CompGroup_VS2010">
      <ComponentRef Id="Comp_Vs2010Integration_Core" />
      <ComponentRef Id="Comp_Vs2010Integration_ItemTemplates" />
      <ComponentRef Id="Comp_Vs2010Integration_Extensions" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLLOCATION">
      <!-- VS2010 integration components -->
      <Component Id="Comp_Vs2010Integration_Core" Guid="122C987F-37FF-4383-AF8D-81325A218F31">
        <File Id="specflowsetup.ico_VS2010" Name="specflowsetup.ico" Source="$(var.SetupResourcesDir)\specflowsetup.ico" />
        <File Id="specflow_preview.png_VS2010" Name="specflow_preview.png" Source="$(var.SetupResourcesDir)\specflow_preview.png" />
        <File Id="TechTalk.SpecFlow.IdeIntegration.dll_VS2010" Name="TechTalk.SpecFlow.IdeIntegration.dll" Source="$(var.TechTalk.SpecFlow.Vs2010Integration.TargetDir)\TechTalk.SpecFlow.IdeIntegration.dll" />
        <File Id="TechTalk.SpecFlow.Vs2010Integration.dll_VS2010" Name="TechTalk.SpecFlow.Vs2010Integration.dll" Source="$(var.TechTalk.SpecFlow.Vs2010Integration.TargetDir)\TechTalk.SpecFlow.Vs2010Integration.dll" />
        <File Id="extension.vsixmanifest_VS2010" Name="extension.vsixmanifest" Source="$(var.TechTalk.SpecFlow.Vs2010Integration.TargetDir)\extension.vsixmanifest" />
        <File Id="TechTalk.SpecFlow.Vs2010Integration.pkgdef_VS2010" Name="TechTalk.SpecFlow.Vs2010Integration.pkgdef" Source="$(var.TechTalk.SpecFlow.Vs2010Integration.TargetDir)\TechTalk.SpecFlow.Vs2010Integration.pkgdef" />
        <File Name="System.CoreEx.dll" Source="$(var.SolutionDir)\lib\RX\System.CoreEx.dll" />
        <File Name="System.Reactive.dll" Source="$(var.SolutionDir)\lib\RX\System.Reactive.dll" />

        <File Id="gherkin.ico_VS2010" Name="gherkin.ico" Source="$(var.SetupResourcesDir)\gherkin.ico" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SpecFlow.GherkinFile" Name="FriendlyTypeName" Value="Gherkin Specification File for SpecFlow" Type="string" />
        <ProgId Id="SpecFlow.GherkinFile" Description="Gherkin Specification File for SpecFlow" Icon="gherkin.ico_VS2010">
          <Extension Id="feature" ContentType='application/text'>
            <Verb Id="open" TargetProperty="VS2010DEVENV" Command="Open" Argument='/edit "%1"' />
          </Extension>
        </ProgId>
      </Component>

      <!-- project/item templates -->
      <Directory Id="Dir_ItemTemplates" Name="ItemTemplates" FileSource="$(var.TechTalk.SpecFlow.Vs2008Integration.TargetDir)">
        <Component Id="Comp_Vs2010Integration_ItemTemplates" Guid="75907C42-3DBA-4689-812D-74D6DD93E477">
          <File Id="File_SpecFlowFeature.zip_VS2010" Name="SpecFlowFeature.zip" />
          <File Id="File_SpecFlowStepDefinition.zip_VS2010" Name="SpecFlowStepDefinition.zip" />
          <File Id="File_SpecFlowEventDefinition.zip_VS2010" Name="SpecFlowEventDefinition.zip" />
          <File Id="File_SpecFlowFeature_VB.zip_VS2010" Name="SpecFlowFeature_VB.zip" />
          <File Id="File_SpecFlowStepDefinition_VB.zip_VS2010" Name="SpecFlowStepDefinition_VB.zip" />
          <File Id="File_SpecFlowEventDefinition_VB.zip_VS2010" Name="SpecFlowEventDefinition_VB.zip" />
        </Component>
      </Directory>

      <!-- extension shortcuts -->
      <Directory Id="Dir_VS2010_ROOT_FOLDER" Name="VS2010_Root">
        <Directory Id="Dir_VS2010_Common7" Name="Common7">
          <Directory Id="Dir_VS2010_IDE" Name="IDE">
            <Directory Id="Dir_VS2010_Extensions" Name="Extensions">
              <Directory Id="Dir_VS2010_Extensions_TechTalk" Name="TechTalk">
                <Directory Id="Dir_VS2010_Extensions_TechTalk_SpecFlow" Name="SpecFlow">
                  <Component Id="Comp_Vs2010Integration_Extensions" Guid="F7D7B2E6-6490-4BA9-A2EB-53E4095831A0">
                    <Shortcut Id="Shortcut_extension.vsixmanifest_VS2010"
                              Name="extension.vsixmanifest"
                              Target="[INSTALLLOCATION]extension.vsixmanifest"
                              WorkingDirectory="INSTALLLOCATION"/>
                    <Shortcut Id="Shortcut_TechTalk.SpecFlow.Vs2010Integration.pkgdef_VS2010"
                              Name="TechTalk.SpecFlow.Vs2010Integration.pkgdef"
                              Target="[INSTALLLOCATION]TechTalk.SpecFlow.Vs2010Integration.pkgdef"
                              WorkingDirectory="INSTALLLOCATION"/>
                    <RemoveFolder Id="Dir_VS2010_Extensions_TechTalk_SpecFlow" On="uninstall"/>
                    <RemoveFolder Id="Dir_VS2010_Extensions_TechTalk" On="uninstall"/>
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <PropertyRef Id='VS2010_ROOT_FOLDER'/>
    <SetDirectory Id="Dir_VS2010_ROOT_FOLDER" Value="[VS2010_ROOT_FOLDER]" Sequence="both" />     
  </Fragment>
</Wix>