<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="testProjectFolder" value="SpecFlowTestProject" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <generator allowRowTests="false" />
    <stepAssemblies>
      <stepAssembly assembly="TechTalk.SpecFlow.Specs" />
    </stepAssemblies>
  </specFlow>
</configuration>