<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Should" version="1.1.12.0" />
  <package id="SpecFlow" version="1.7.1" />
  <package id="xunit" version="1.8.0.1549" />
  <package id="xunit.extensions" version="1.8.0.1549" />
</packages>