<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <specFlow>
    <language feature="en" tool="en" />

    <unitTestProvider name="NUnit" />

    <generator allowDebugGeneratedFiles="false" />
    
    <runtime detectAmbiguousMatches="true"
             stopAtFirstError="false"
             missingOrPendingStepsOutcome="Inconclusive" />

    <trace traceSuccessfulSteps="true"
           traceTimings="false"
           minTracedDuration="0:0:0.1"
           listener="TechTalk.SpecFlow.Tracing.DefaultListener, TechTalk.SpecFlow"
            />
  </specFlow>
</configuration>