<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Gherkin" version="3.3.0-ci002" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" requireReinstallation="True" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>