<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net45" />
  <package id="Moq" version="4.5.9" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>